branches:
  only:
    - source
language: node_js
node_js:
  - "0.10"
script:
  - "hexo generate"
after_success:
  - "git clone https://$GH_TOKEN@github.com/qianlifeng/qianlifeng.github.io.git git_deploy"
  - "rm -r git_deploy/*"
  - "cp -r public/* git_deploy"
  - "cd git_deploy"
  - "git config --global push.default simple"
  - "git config --global user.name 'qianlifeng'"
  - "git config --global user.email qianlf2008@163.com"
  - "git add -A"
  - "git commit -m 'update'"
  - "git push -q"
env:
  global:
    secure: R47+1xIT3fihAM4YTO5u/AOFrpZeYndHLTBIMU49DGST6MO65+Ppyj/VHHUsJhmDXa7w83krUfhaR+BMQ1ntd3bOZQTnUyzHspKpum9XSRldoTx8FJNJgfuoKqglS25Qi8kmP9WA6IKwycYyY+6Xg1L2YfHvUbRHcfQlfayQFJ0=

